# STM32CubeIDE / CubeMX
.metadata/
.settings/
*.launch
.build/
Debug/
Drivers/
Release/
*.project
*.cproject
*.mxproject
.externalToolBuilders/

# VS Code / IDE
.vscode/
.idea/
.txt
.s
.gitignore
# Build artifacts
*.o
*.obj
*.elf
*.axf
*.bin
*.hex
*.map
*.list
*.d
*.dep
*.su
*.su?

# Archives and large files
*.zip
*.rar
*.7z
*.tar.gz

# OS / editors
Thumbs.db
.DS_Store
*~
*.swp
*.log